einops
fastapi
markdown2[all]
sentencepiece
tokenizers==0.15.0
uvicorn
wandb
shortuuid
httpx==0.24.0
peft==0.4.0
transformers==4.38.2
accelerate==0.27.2
bitsandbytes==0.41.0
sentencepiece==0.1.99
einops==0.6.1
einops-exts==0.0.4
timm==1.0.7
gradio_client==0.2.9
llama-index==0.10.30
llama-index-embeddings-clip==0.1.1
gradio==4.26.0
IPython
llama-index-vector-stores-qdrant
